<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body >

<div class="container-fluid " style="width: 600px;">

<h3 mat-dialog-title >Add Employee</h3>

<div mat-dialog-content  class="custom-dialog">

    <form [formGroup]="frmRegister">

          <!-- <div class="form-control">
            <label>Emp ID:</label>
            <input type="text"  class="form-control"  formControlName="emp_id" id="emp_id" [(ngModel)]="employee.emp_id">
          </div> -->

          <div class="form-control">
            <dt>Email ID</dt>
            <input type="email"  class="form-control" formControlName="email_id" placeholder="Email id" id="email_id" [(ngModel)]="employee.email_id" >
            <div class="text-danger" *ngIf="email_id.touched && email_id.invalid">
              <div *ngIf="email_id.errors?.['required']">Email Required</div>
              <div *ngIf="email_id.errors?.['email']">write in email form</div>
          </div>
           </div>

          <!-- <div class="form-control">
            <label>Password</label>
            <input type="text" class="form-control" formControlName="password" id="password" [(ngModel)]="employee.password">
          </div> -->
           
          <div class="form-control">
            <dt>Mobile No</dt>
            <input type="text" class="form-control" formControlName="Mobile" placeholder="+91 0000000000" id="mobile_no" [(ngModel)]="employee.mobile_no">
            <div class="text-danger" *ngIf="Mobile.touched && Mobile.invalid">
                    <div *ngIf="Mobile.errors?.['required']">Mobile Required</div>
                    <div *ngIf="Mobile.errors?.['pattern']">Invalid Mobile +91 and 10 digits</div>
                </div>
          </div>

          <div class="form-control">
            <dt>Department</dt>
            <input type="text" class="form-control" formControlName="Deparment" placeholder="Department" id="department" [(ngModel)]="employee.department">
            <div class="text-danger" *ngIf="Deparment.touched && Deparment.invalid">
              <div *ngIf="Deparment.errors?.['required']">Department Required</div>
          </div>
          </div>

          <div class="form-control">
            <dt>Role</dt>
            <select type="text" class="form-control dropdown" formControlName="role" placeholder="Role" [(ngModel)]="employee.role" [(ngModel)]="Role">
              <option *ngFor="let r of Roles " [value]="r.id">
                {{r.roles}}
              </option>
            </select>         
           </div>

          <div class="form-control">
            <dt>Organization Name</dt>
            <select type="text" class="form-control dropdown" formControlName="Organization" placeholder="Organization" id="org_name" [(ngModel)]="employee.org_name" [(ngModel)]="Emptype">
              <option *ngFor="let t of EmpType " [value]="t.id">{{t.type}}</option>
            </select>
          </div>

          <div class="form-control">
            <dt>Employee Type</dt>
            <select type="text" class="form-control dropdown" formControlName="Emp" placeholder="Employee Type" id="emp_type" [(ngModel)]="employee.emp_type" [(ngModel)]="Emptype">
              <option *ngFor="let t of EmpType " [value]="t.id">{{t.type}}</option>
            </select>   
          </div>

          <div class="form-control">
            <dt>B_Place</dt>
            <select type="text" class="form-control dropdown" formControlName="BP" id="bp" placeholder="Business place" [(ngModel)]="employee.bp" [(ngModel)]="Emptype">
              <option *ngFor="let t of EmpType " [value]="t.id">{{t.type}}</option>
            </select>
          </div>

          <div class="form-control">
            <dt>Address</dt>
            <input type="text" class="form-control" formControlName="Address" id="address" placeholder="Address" [(ngModel)]="employee.address">
            <div class="text-danger" *ngIf="Address.touched && Address.invalid">
              <div *ngIf="Address.errors?.['required']">Address Required</div>
          </div>
          </div>

      </form>

</div>

<div mat-dialog-actions  class="justify-content-between">
  <button type="submit" class="btn btn-primary"  (click)="onSaveClick()">Submit</button>
  <!-- <button mat-button class="btn btn-info" ((click)="onCancelClick()")>Cancel</button> -->
</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>